.section ul.etabs {
    margin: 0;
    padding: 0;
}

.tab {
    display: inline-block;
    zoom: 1;
    *display:inline;
    background: #eee;
    border: solid 1px #999;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.tab a {
    font-size: 14px;
    line-height: 2em;
    display: block;
    padding: 0 10px;
    outline: none;
}

.tab a:hover {
    text-decoration: underline;
}

.tab.active {
    background: #fff;
    padding-top: 6px;
    position: relative;
    top: 1px;
    border-color: #666;
}

.tab a.active {
    font-weight: bold;
}

.tab-container .panel-container {
    background: #fff;
    border: solid #666 1px;
    padding: 10px;
    border-radius: 0 4px 4px 4px;
}

.tab-container {
    padding: 0px 10px 25px 10px;
}

.tab-contents {
    border: 1px #999 solid;
    padding: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

p.graphviz {
    margin-bottom: 0px
}

.tab-contents p img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
}

.tab-contents div {
    margin-bottom: 1px;
}


/* Overwrite the responsive tables to wrap the lines a bit. */
.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}
.wy-table-responsive table {
    margin-bottom: 0 !important
}
.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

/* Full width tables with a bit of a margin; looks much better. */
table {
    width: 100%;
    margin-top: 10px;
}

/* Some padding on the logo in the side bar */
.logo {
    width: 85% !important;
    padding-top: 25px !important;
}


/* Padding of e logo on the index page */
.align-center > img {
    padding: 40px
}


/* Change the color scheme */
.wy-side-nav-search, .wy-nav-top, .wy-menu-vertical a:active {
    background-color: #B0E42D
}

a, a:visited {
    color: #437414
}

a:hover {
    color: #98BAA1
}

.wy-menu-vertical a, .wy-menu-vertical a:visited {
    color: #B3B3B3
}

.admonition-title {
    background: #437414 none repeat scroll 0% 0% !important
}

.note {
    background: #DBE4DE none repeat scroll 0% 0% !important
}

.wy-side-nav-search input[type="text"] {
    border-color: #B0E42D
}

.icon-home {
    color: #FFFFFF !important
}

.version {
    color: #FFFFFF !important;
}

/* Background of the code is the same as for the side bar.*/
.highlight-python, .highlight-bash {
    border-width: 0px !important;
    background-color: #343131 !important;
    border-radius: 2px;
    box-shadow: 3px 3px 10px black;
}

/* Default color for the code snippets */
div.highlight > pre {
    color: #CCCCCC;
}

/* Color of the line numbers */
.linenodiv > pre {
    color: #CCCCCC !important;
}