dl .attribute {
    margin-left: 50px;
}

dl .method {
    margin-left: 50px;
}

dl .classmethod {
    margin-left: 50px;
}

dl .staticmethod {
    margin-left: 50px;
}

dd > p {
    padding-left: 20px;
}

.property {
    font-weight: 100;
    padding-right: 2px;
}

dl > dt {
    background-color: #DDDDDD;
    border-radius: 5px;
    padding: 5px;
    color: #222222;
}

div.highlight > pre {
    background-color: #272822;
}

.admonition {
    background-color: #8DC981;
    border-color: #659872;
    color: #555555;
}
